html {
  width: 100%;
  height: 100%;
}
body {
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  font-size: 22px;
}
iframe:focus {
  outline: none;
}
* {
  box-sizing: border-box;
}

main {
  min-height: 100%;
}


h1, h2, h3, h4, h5, h6 {
  color: black;
  margin: 0.5em 0;

  a {
    color: black;
  }
}

h1 {
  font-size: 2em;

  .role {
    font-weight: normal;
  }
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
  margin: 0;
}

a {
  color: #555;
  &:hover { color: #0078CF; }
}

.warning {
  background-color: yellow;
  color: black;

  &.container {
    background-color: yellow;
    color: black;
  }

  border-top: 5px dashed black;
  border-bottom: 5px dashed black;
}

.dark {
  background-color: black;
  color: #ddd;

  h1, h2, h3, h4, h5, h6 {
    color: white;

    a {
      color: white;
    }
  }

  &.container {
    background-color: black;
    color: #ddd;
  }

  a {
    color: #ddd;
    &:hover { color: white; }
  }

  hr { border-color: #444; }

  .byline {
    color: #999;

    a {
      color: #999;
      &:hover { color: white; }
    }
  }
}

li {
  margin: 20px 0;
}

.image-with-link {
  font-size:32px;
  display:block;
  text-decoration: none;
  margin-bottom: 50px;

  img {
    vertical-align:middle;
    margin-right:10px;
  }

  span {
    text-decoration:underline;
  }
}

.container {
  background-color: white;
  padding: 50px 0;

  > * {
    min-width: 740px;
    max-width: 740px;
    width: auto;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding: 0 20px;
  }
}

hr {
  border: 0;
  border-bottom: 1px solid #ddd;
  width: 60%;
  margin: 90px auto;
}

.byline {
  font-size: 18px;
  color: #999;
  text-align: right;
  margin-top: 10px;
}

.cover {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

nav {
  text-align: center;
  margin-bottom: 0;

  a {
    display: inline-block;
    font-size:30px;
    font-weight: 600;
    margin: 10px;
    padding: 25px 35px;
    background-color: black;
    color: white;
    text-align: center;

    &:hover {
      color: white;
      background-color: #333;
    }
  }
}

.imprint {
  margin: 50px auto 0 auto;
}
